#IDEA files
.idea
*.iml

## The file with this extension stores the core project information. In a multiproject setting, referenced subprojects are stored here
*.ipr
## File-based project format:
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

#Gradle
.gradle

# Gradle build
**/build

#My notes
*notes.txt